body {
    font-family: Arial, sans-serif;
    margin: 0;
  color: #2a222b;
  padding-top: 70px;
  }
 
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  .menu-item {
    text-decoration: none;
    color: #14120e;
    padding: 10px;
    display: inline-block;
  }

  .menu-item:hover {
    background-color: #d19249;
    border-radius:20px;
    transition: all 0.4s ease-in-out;
  }

  header {
    background-color: #af7a18;
    color: #fafaf1;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
  }

  section {
    padding: 20px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
  }

  #acerca-de-mi {
    text-align: justify;
  }

  #habilidades ul {
    list-style: none;
    padding: 0;
  }
  
  #habilidades li {
    display: inline-block;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin-right: 10px;
  }

  #experiencia ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #experiencia ul li {
    margin-bottom: 10px;
  }

  #proyectos ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #proyectos ul li a {
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    color: #333;
  }

  #proyectos ul li a:hover {
    text-decoration: underline;
  }

  #sociales {
    list-style: none;
    padding: 0;
    margin-top: 10px;
  }
  
  #sociales li {
    list-style: none;
    display: inline-block;
    padding: 5px;
    font-size: 30px;
  }
  
  .fa {
    color: #333;
    text-decoration: none;
    margin-left: 0px;
  }
  
  footer {
    background-color: #af7a18;
    color: #e9dddd;
    text-align: center;
    padding: 10px;
  }